.Home {
    /*text-align: center;*/
  }
  
  .Home-logo {
    animation: Home-logo-spin infinite 20s linear;
    height: 80px;
  }
  
  .Home-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
  }
  
  /*.Home-title {
    font-size: 1.5em;
  }
  
  .Home-intro {
    font-size: large;
  }*/
  
  @keyframes Home-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  
  .navigation {
    /* visibility: hidden; */
  }
  
  .navigation__checkbox {
    display: none;
  }
  
  .navigation__button {
    background-color: rgba(255,255,255,.9);
    height: 3rem;
    width: 3rem;
    position: fixed;
    top: .5rem;
    right: 0;
    border-radius: 3px;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.2);
    cursor: pointer;
    border-radius: 3px 0 0 3px;
  
    /* to center the bars  */
    text-align: center;
  }
  
  .navigation__background {
    height: 3rem;
    width: 3rem;
    border-radius: 3px;
    position: fixed;
    top: .5rem;
    right: 0;
    background-image: radial-gradient(white, orangered);
    z-index: 1000;
    border-radius: 3px;
  
    transition: transform .8s cubic-bezier(.79, 0, .05, 1);
  }
  
  .navigation__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1500;
  
    opacity: 0;
    width: 0;
    transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .navigation__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%;
  }
  
  .navigation__item {
    margin: 1rem;
  }
  
  .navigation__link:link, .navigation__link:visited {
    display: inline-block;
    font-size: 3rem;
    font-weight: 300;
    padding: 1rem 2rem;
    color: grey;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, grey 50%); ;
    background-size: 220%;
    transition: all .5s;
  }
  
  .navigation__link:hover, .navigation__link:active {
    background-position: 100%;
    color: white;
    transform: translateX(1rem);
  }
  
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 1rem;
    display: inline-block;
  }
  
  /* checkbox hack  */
  .navigation__checkbox:checked ~ .navigation__background {
    transform: scale(70);
  }
  
  .navigation__checkbox:checked ~ .navigation__nav {
    opacity: 1;
    width: 100%
  }
  
  .navigation__icon, 
  .navigation__icon::before, 
  .navigation__icon::after {
    width: 2.5rem;
    height: 2px;
    background-color: darkgrey;
    display: inline-block;
    
  }
  
  .navigation__icon {
    position: relative;
    margin-top: 1.5rem;
  }
  
  .navigation__icon::before {
    top: -.6rem;
  }
   
  .navigation__icon::after {
    top: .6rem;
  }
  
  .navigation__icon::before, 
  .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .1s;
  }
  
  .navigation__button:hover .navigation__icon::before {
    top: -1rem
  }
  
  .navigation__button:hover .navigation__icon::after {
    top: 1rem
  }
  
  /* when checkbox is selected, we select its brother the navigation button and then get its child which is the navigation__icon; */
  .navigation__checkbox:checked + .navigation__button .navigation__icon {
    background-color: transparent;
  }
  
  .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    top: 0;
    transform: rotate(135deg)
  }
  
  .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    top: 0;
    transform: rotate(-135deg)
  }
  
  /* 
  popup 
  */
  
  .popup {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, .7);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: all .2s;
  }
  
  .popup:target {
    opacity: 1;
    visibility: visible;
  }
  
  .popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    
  
    width: 75%;
    height: 50rem;
    background-color: white;
    box-shadow: 0 2rem 4rem rgba(0,0,0, .2);
    border-radius: 3px;
    display: table;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(.5);
    transition: all .5s .3s;
  }
  
  .popup__left {
    width: 33.3333333%;
    display: table-cell;
  }
  
  .popup__right {
    width: 66.66666667%;
    display: table-cell;
    vertical-align: middle;
    padding: 4rem;
  }
  .popup__img {
    display: block;
    width: 100%;
  }
  
  .popup__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;
  
    -moz-column-count: 2;
    -moz-column-gap: 4rem;
    -moz-column-rule: 2px solid grey;
  
    column-count: 2;
    column-gap: 4rem;
    column-rule: 2px solid grey;
  
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
  }
  
  .popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  
  .popup__close, .popup__close:link, .popup_close:visited {
    color: grey;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    font-size: 3rem;
    text-decoration: none;
    display: inline-block;
    transition: all .2s;
    line-height: 1;
  }
  
  .popup__close:hover {
    color: orangered;
  }
  
  