.Home {
  /* position: relative; */
}
  
.Home-logo {
  animation: Home-logo-spin infinite 20s linear;
  height: 80px;
}

.home__header {
  position: relative;
  /* top: -24px; */
  /* left: -9px; */
  width: 100%;
  display: flex;
  height: 50px;
  flex: 1;
  justify-content: space-between;
  background-color: transparent;
  
  /* background-color: red; */
  /* text-align: center; */
  padding: 0;
  margin: 0;
  /* z-index: 10000; */
}

.home__header__logo {
  margin: 8px 0 0 8px;
  position: absolute;

}

.home__header__logo__do,
.home__header__logo__thank {
  padding: 0;
  margin: 0;
  margin-left: 3px;
  line-height: .9;
  display: inline-block;
  font-family: Comfortaa;

}
.home__header__logo__do {
  font-size: 2rem;
  font-weight: 700;
  color: rgba(255, 114, 159, 1);

  /* font-weight: 200; */
}
.home__header__logo__thank {
  font-weight: 200;
  font-size: 1.9rem;
  color: rgba(148, 149, 185, 1);
  /* margin-left: -3px; */
}


/*.Home-title {
  font-size: 1.5em;
}

.Home-intro {
  font-size: large;
}*/

@keyframes Home-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.navigation {
  /* visibility: hidden; */
  /* position: relative; */
}

/* input[type="checkbox"] {
  
} */
.navigation__checkbox {
  display: none;
  margin: 0 !important;
}

.navigation__button {
  background-color: rgba(255, 114, 159, .9);
  /* background-color: black; */
  height: 2.5rem;
  width: 2.5rem;
  position: fixed;
  top: .5rem;
  right: 1rem;
  /* border-radius: 20px; */
  z-index: 2000;
  box-shadow: 0 .4rem 1rem rgba(0,0,0,.2);
  cursor: pointer;

  /* to center the bars  */
  text-align: center;
}

@media screen and (max-width: 450px) {
  .navigation__button {
      position: absolute;
      top: 0;
      right: 0;
  };
}

.navigation__background {
  height: 2.5rem;
  width: 2.5rem;
  /* border-radius: 20px; */
  position: fixed;
  top: .5rem;
  right: 1rem;
  /* background-image: linear-gradient(to left, white 0%, white 70%, rgba(255, 114, 159, .8)); */
  background-color: rgba(253,249,252,.95);
  z-index: 1000;

  transition: transform .8s cubic-bezier(.79, 0, .05, 1);
}
@media screen and (max-width: 450px) {
  .navigation__background {
      position: absolute;
      top: 0;
      right: 0;
  };
}

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1500;

  opacity: 0;
  width: 0;
  transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.navigation__list {
  position: absolute;
  top: 40%;
  left: 62%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
  margin-top: 1.5rem;
}

@media screen and (max-width: 900px) {
  .navigation__list {
    top: 35%;
  }
}

.navigation__item {
  margin: .5rem;
}

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 2rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color:rgba(148, 149, 185, 1);
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, rgba(148, 149, 185, 1)); ;
  background-size: 220%;
  transition: all .5s;
}

@media screen and (max-width: 900px) {
  .navigation__link:link, .navigation__link:visited {
    font-size: 1.5rem;
    padding: 5px 10px;  
  }
}

.navigation__link:hover, .navigation__link:active {
  background-position: 109%;
  color: white;
  transform: translateX(1rem);
}

.navigation__link:link span, .navigation__link:visited span {
  margin-right: 1rem;
  display: inline-block;
}

/* checkbox hack  */
.navigation__checkbox:checked ~ .navigation__background {
  transform: scaleX(20) scaleY(40);
}

/* width of the box */
.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 50%
}

@media screen and (max-width: 1100px) {
  .navigation__checkbox:checked ~ .navigation__nav {
    width: 62%;
  }
}
@media screen and (max-width: 1000px) {
  .navigation__checkbox:checked ~ .navigation__nav {
    width: 70%;
  }
}
@media screen and (max-width: 900px) {
  .navigation__checkbox:checked ~ .navigation__nav {
    width: 80%;
  }
}
@media screen and (max-width: 700px) {
  .navigation__checkbox:checked ~ .navigation__nav {
    width: 100%;
  }
}

.navigation__icon, 
.navigation__icon::before, 
.navigation__icon::after {
  width: 2.0rem;
  height: 2px;
  background-color: #fff;
  display: inline-block;
  
}

.navigation__icon {
  position: relative;
  margin-top: 1.25rem;
}

.navigation__icon::before {
  top: -.4rem;
}
  
.navigation__icon::after {
  top: .4rem;
}

.navigation__icon::before, 
.navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all .1s;
}

.navigation__button:hover .navigation__icon::before {
  top: -.5rem
}

.navigation__button:hover .navigation__icon::after {
  top: .5rem
}

/* when checkbox is selected, we select its brother the navigation button and then get its child which is the navigation__icon; */
.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg)
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg)
}

/* 
popup 
*/

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0, .7);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all .2s;
}

.popup:target {
  opacity: 1;
  visibility: visible;
}

.popup__content {
  position: absolute;
  top: 50%;
  left: 50%;
  

  width: 75%;
  height: 50rem;
  background-color: white;
  box-shadow: 0 2rem 4rem rgba(0,0,0, .2);
  border-radius: 3px;
  display: table;
  overflow: hidden;
  opacity: 0;
  transform: translate(-50%, -50%) scale(.5);
  transition: all .5s .3s;
}

.popup__left {
  width: 33.3333333%;
  display: table-cell;
}

.popup__right {
  width: 66.66666667%;
  display: table-cell;
  vertical-align: middle;
  padding: 4rem;
}
.popup__img {
  display: block;
  width: 100%;
}

.popup__text {
  font-size: 1.4rem;
  margin-bottom: 4rem;

  -moz-column-count: 2;
  -moz-column-gap: 4rem;
  -moz-column-rule: 2px solid grey;

  column-count: 2;
  column-gap: 4rem;
  column-rule: 2px solid grey;

  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

.popup:target .popup__content {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.popup__close, .popup__close:link, .popup_close:visited {
  color: grey;
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  font-size: 3rem;
  text-decoration: none;
  display: inline-block;
  transition: all .2s;
  line-height: 1;
}

.popup__close:hover {
  color: orangered;
}

